html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
html.remodal-is-locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none
}
.remodal,
[data-remodal-id] {
    display: none
}
.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none
}
.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch
}
.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: ""
}
.remodal-overlay,
.remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.remodal {
    position: relative;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
.remodal-is-initialized {
    display: inline-block
}
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
    -webkit-filter: blur(3px);
    filter: blur(3px)
}
.remodal-overlay {
    background: rgba(43, 46, 56, 0.9)
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.remodal-overlay.remodal-is-opening {
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    animation-name: remodal-overlay-opening-keyframes
}
.remodal-overlay.remodal-is-closing {
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    animation-name: remodal-overlay-closing-keyframes
}
.remodal-wrapper {
    padding: 10px 10px 0
}
.remodal {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.remodal.remodal-is-opening {
    -webkit-animation-name: remodal-opening-keyframes;
    animation-name: remodal-opening-keyframes
}
.remodal.remodal-is-closing {
    -webkit-animation-name: remodal-closing-keyframes;
    animation-name: remodal-closing-keyframes
}
.remodal,
.remodal-wrapper:after {
    vertical-align: middle
}
.remodal-close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: transparent
}
.remodal-close:hover,
.remodal-close:focus {
    color: #2b2e38
}
.remodal-close:before {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    content: "\00d7";
    text-align: center
}
.remodal-confirm,
.remodal-cancel {
    font: inherit;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    outline: 0
}
.remodal-confirm {
    color: #fff;
    background: #81c784
}
.remodal-confirm:hover,
.remodal-confirm:focus {
    background: #66bb6a
}
.remodal-cancel {
    color: #fff;
    background: #e57373
}
.remodal-cancel:hover,
.remodal-cancel:focus {
    background: #ef5350
}
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0
}
@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}
@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}
@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0
    }
}
@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px
    }
}
.lt-ie9 .remodal-overlay {
    background: #2b2e38
}
.lt-ie9 .remodal {
    width: 700px
}
.codehilite .hll {
    background-color: #ffc
}
.codehilite .c {
    color: #999988;
    font-style: italic
}
.codehilite .err {
    color: #a61717;
    background-color: #e3d2d2
}
.codehilite .k {
    color: #000000;
    font-weight: bold
}
.codehilite .o {
    color: #000000;
    font-weight: bold
}
.codehilite .cm {
    color: #999988;
    font-style: italic
}
.codehilite .cp {
    color: #999999;
    font-weight: bold;
    font-style: italic
}
.codehilite .c1 {
    color: #999988;
    font-style: italic
}
.codehilite .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}
.codehilite .gd {
    color: #000000;
    background-color: #fdd
}
.codehilite .ge {
    color: #000000;
    font-style: italic
}
.codehilite .gr {
    color: #a00
}
.codehilite .gh {
    color: #999
}
.codehilite .gi {
    color: #000000;
    background-color: #dfd
}
.codehilite .go {
    color: #888
}
.codehilite .gp {
    color: #555
}
.codehilite .gs {
    font-weight: bold
}
.codehilite .gu {
    color: #aaa
}
.codehilite .gt {
    color: #a00
}
.codehilite .kc {
    color: #000000;
    font-weight: bold
}
.codehilite .kd {
    color: #000000;
    font-weight: bold
}
.codehilite .kn {
    color: #000000;
    font-weight: bold
}
.codehilite .kp {
    color: #000000;
    font-weight: bold
}
.codehilite .kr {
    color: #000000;
    font-weight: bold
}
.codehilite .kt {
    color: #445588;
    font-weight: bold
}
.codehilite .m {
    color: #099
}
.codehilite .s {
    color: #d01040
}
.codehilite .na {
    color: teal
}
.codehilite .nb {
    color: #0086B3
}
.codehilite .nc {
    color: #445588;
    font-weight: bold
}
.codehilite .no {
    color: teal
}
.codehilite .nd {
    color: #3c5d5d;
    font-weight: bold
}
.codehilite .ni {
    color: purple
}
.codehilite .ne {
    color: #990000;
    font-weight: bold
}
.codehilite .nf {
    color: #990000;
    font-weight: bold
}
.codehilite .nl {
    color: #990000;
    font-weight: bold
}
.codehilite .nn {
    color: #555
}
.codehilite .nt {
    color: navy
}
.codehilite .nv {
    color: teal
}
.codehilite .ow {
    color: #000000;
    font-weight: bold
}
.codehilite .w {
    color: #bbb
}
.codehilite .mf {
    color: #099
}
.codehilite .mh {
    color: #099
}
.codehilite .mi {
    color: #099
}
.codehilite .mo {
    color: #099
}
.codehilite .sb {
    color: #d01040
}
.codehilite .sc {
    color: #d01040
}
.codehilite .sd {
    color: #d01040
}
.codehilite .s2 {
    color: #d01040
}
.codehilite .se {
    color: #d01040
}
.codehilite .sh {
    color: #d01040
}
.codehilite .si {
    color: #d01040
}
.codehilite .sx {
    color: #d01040
}
.codehilite .sr {
    color: #009926
}
.codehilite .s1 {
    color: #d01040
}
.codehilite .ss {
    color: #990073
}
.codehilite .bp {
    color: #999
}
.codehilite .vc {
    color: teal
}
.codehilite .vg {
    color: teal
}
.codehilite .vi {
    color: teal
}
.codehilite .il {
    color: #099
}
* {
    box-sizing: border-box
}
header,
main,
footer {
    margin: 0 auto;
    padding: 0 6vw;
    box-sizing: content-box
}
article {
    max-width: 780px;
    margin: 0 auto
}
article.ContentBody {
    padding-top: 2em;
    padding-bottom: 2em
}
@media (max-width: 800px) {
    article.ContentBody {
        padding-top: 1em;
        padding-bottom: 1em
    }
}
header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1
}
@media (max-width: 800px) {
    header {
        margin-bottom: 4em
    }
}
footer {
    border-top: solid 3px #eee
}
footer p {
    text-align: center;
    color: #aaa;
    font-size: 0.95em;
    padding: 0.75em 0;
    line-height: 175%
}
.TimelineItem.TimelineItem--post h2 {
    font-size: 1.75em
}
.TimelineItem.TimelineItem--post h2 a {
    line-height: 1.55em;
    padding-bottom: 0.25em
}
.TimelineItem.TimelineItem--post h3 {
    font-size: 1.1em
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost h2 {
    font-size: 1.4em
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost h2 img {
    vertical-align: -2px
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost h3 {
    font-size: 1em
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost .TimelineItem-details::before {
    height: 8px;
    width: 8px;
    left: -8px;
    margin-top: 10px
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost .TimelineItem-details::after {
    display: none
}
.TimelineItem--topLink>.TimelineItem-footer.TimelineItem-footer--blog {
    width: 100%
}
.PostMeta,
.ContentBody h2.PostMeta {
    text-align: center;
    border: 0;
    font-weight: 300;
    font-size: 1.2em;
    color: #aaa;
    margin: -1em 0 2em 0
}
.blog .ContentBody h4 {
    margin: 1em 0 0.5em
}
@-webkit-keyframes animation--jelly-bounce {
    0% {
        -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    3.4% {
        -webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    4.7% {
        -webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    6.81% {
        -webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    9.41% {
        -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    10.21% {
        -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    13.61% {
        -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    14.11% {
        -webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    17.52% {
        -webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    18.72% {
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    21.32% {
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    24.32% {
        -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    25.23% {
        -webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    29.03% {
        -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    29.93% {
        -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    35.54% {
        -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    36.74% {
        -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    41.04% {
        -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    44.44% {
        -webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    52.15% {
        -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    59.86% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    63.26% {
        -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    75.28% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    90.69% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1
    }
}
@keyframes animation--jelly-bounce {
    0% {
        -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    3.4% {
        -webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    4.7% {
        -webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    6.81% {
        -webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    9.41% {
        -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    10.21% {
        -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    13.61% {
        -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    14.11% {
        -webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    17.52% {
        -webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    18.72% {
        -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    21.32% {
        -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    24.32% {
        -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    25.23% {
        -webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    29.03% {
        -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    29.93% {
        -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    35.54% {
        -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    36.74% {
        -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    41.04% {
        -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    44.44% {
        -webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    52.15% {
        -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    59.86% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    63.26% {
        -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    75.28% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    90.69% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1
    }
}
@-webkit-keyframes animation--color-changer {
    0% {
        fill: #1abc9c
    }
    15% {
        fill: #3498db
    }
    30% {
        fill: #9b59b6
    }
    45% {
        fill: #e74c3c
    }
    60% {
        fill: #e67e22
    }
    75% {
        fill: #f1c40f
    }
    90% {
        fill: #40d47e
    }
}
@keyframes animation--color-changer {
    0% {
        fill: #1abc9c
    }
    15% {
        fill: #3498db
    }
    30% {
        fill: #9b59b6
    }
    45% {
        fill: #e74c3c
    }
    60% {
        fill: #e67e22
    }
    75% {
        fill: #f1c40f
    }
    90% {
        fill: #40d47e
    }
}
.Btn {
    padding: 12px 16px;
    color: #4eb0eb;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #4eb0eb;
    opacity: 0.7;
    margin-right: 10px;
    transition: opacity 0.3s ease
}
p .Btn {
    margin-bottom: 10px
}
.Btn:hover {
    opacity: 1;
    color: #4eb0eb
}
.Btn.Btn--cta {
    border-color: #40d47e
}
.Btn.Btn--cta,
.Btn.Btn--cta:hover {
    color: #40d47e
}
.Btn.Btn--large {
    font-size: 1.1em;
    padding: 16px 25px
}
.Btn.Btn--source {
    background: url(/assets/images/icons/github-thick.svg) no-repeat 15px center;
    color: #777;
    border-color: #777
}
.Btn.Btn--rubygems {
    background: url(/assets/images/icons/rubygems.svg) no-repeat 15px center;
    color: #eb4e62;
    border-color: #eb4e62
}
.Btn.Btn--source,
.Btn.Btn--rubygems {
    background-size: 25px;
    padding-left: 50px
}
.Callout {
    background: #fafafa;
    padding: 1em 2em;
    border-left: solid 5px #eb894e;
    margin: 2.5em 0 1.5em;
    position: relative
}
.Callout strong,
.ContentBody .Callout strong {
    padding-left: 0
}
.Callout::before {
    position: absolute;
    top: calc(50% - 20px);
    left: -12px;
    background-color: #eb894e;
    color: #fff;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px
}
.SourceCallout {
    background: #f9f9f9;
    text-align: center;
    margin: 0;
    font-size: 95%;
    padding: 2em
}
.SourceCallout>p {
    margin: 0
}
.codehilite {
    margin: 2em 0 2.8em
}
.codehilite table,
.codehilite tbody {
    display: block;
    width: 100%
}
.codehilite td {
    border: 1px solid #dee
}
.codehilite tr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}
.codehilite .code {
    -webkit-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    margin-left: -1px;
    display: block;
    max-width: calc(100% - 2em)
}
pre {
    padding: 10px;
    margin: 0;
    line-height: 23px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit
}
.codehilite .gl {
    background: #fafafa;
    border-right: 1px solid #ddd;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    overflow: hidden
}
p code,
li code,
td code {
    color: #666;
    background: #fafafa;
    padding: 3px 6px;
    border-radius: 8px;
    border: 1px dotted #ccc;
    margin: 0 4px;
    font-size: 90%;
    word-wrap: break-word
}
a code {
    color: inherit;
    text-decoration: underline;
    margin: 0 -1px;
    padding: 3px 10px
}
.ArgumentSpec {
    background: #ffffef;
    padding: 1em 2em;
    list-style-type: none;
    line-height: 190%;
    border-radius: 8px;
    border: solid 1px #eee;
    margin: 2.5em 0 1.5em
}
.ArgumentSpec li strong {
    padding-left: 0
}
.ArgumentSpec li code {
    background: rgba(255, 255, 255, 0.5)
}
.ContentBody+.Comments {
    margin: -3em auto 3em
}
.Logo {
    text-transform: none;
    left: 0;
    font-size: 2em;
    margin: 0;
    top: -.35em;
    text-decoration: none;
    letter-spacing: -1px;
    border-bottom: 1px solid transparent;
    color: #ccc
}
.Logo span {
    color: #aaa
}
@media (max-width: 800px) {
    header {
        margin-bottom: 4em
    }
    .Logo {
        font-size: 1.7em
    }
    .Logo:hover {
        border-bottom: none
    }
}
.ContentBody p img {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 1em auto
}
.ContentBody h1 img {
    max-width: 100%
}
.Btn,
.NavBtn {
    padding: 12px 16px;
    color: #4eb0eb;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #4eb0eb;
    opacity: 0.7;
    margin-right: 10px;
    transition: opacity 0.3s ease
}
p .Btn,
p .NavBtn {
    margin-bottom: 10px
}
.Btn:hover,
.NavBtn:hover {
    opacity: 1;
    color: #4eb0eb
}
.Btn.Btn--cta,
.Btn--cta.NavBtn {
    border-color: #40d47e
}
.Btn.Btn--cta,
.Btn--cta.NavBtn,
.Btn.Btn--cta:hover,
.Btn--cta.NavBtn:hover {
    color: #40d47e
}
.Btn.Btn--large,
.Btn--large.NavBtn {
    font-size: 1.1em;
    padding: 16px 25px
}
.Btn.Btn--source,
.Btn--source.NavBtn {
    background: url(/assets/images/icons/github-thick.svg) no-repeat 15px center;
    color: #777;
    border-color: #777
}
.Btn.Btn--rubygems,
.Btn--rubygems.NavBtn {
    background: url(/assets/images/icons/rubygems.svg) no-repeat 15px center;
    color: #eb4e62;
    border-color: #eb4e62
}
.Btn.Btn--source,
.Btn--source.NavBtn,
.Btn.Btn--rubygems,
.Btn--rubygems.NavBtn {
    background-size: 25px;
    padding-left: 50px
}
.MainMenu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 1em 0
}
.NavBtn {
    font-weight: normal;
    font-size: 1.1em;
    color: #777;
    border-color: #777
}
.NavBtn.NavBtn--close {
    display: none
}
.NavBtn.NavBtn--mobileOnly {
    display: none;
    margin-right: 0
}
@media (max-width: 800px) {
    .NavBtn.NavBtn--mobileOnly {
        display: inline-block
    }
}
.NavBtn.is-active,
body.index .MainMenu #NavBtnAbout,
body.projects .MainMenu #NavBtnProjects,
body.blog .MainMenu #NavBtnBlog,
.NavBtn:hover {
    color: #4eb0eb;
    border-color: #4eb0eb
}
@media (max-width: 800px) {
    .MainMenu-links .NavBtn.is-active,
    .MainMenu-links body.index .MainMenu #NavBtnAbout,
    body.index .MainMenu .MainMenu-links #NavBtnAbout,
    .MainMenu-links body.projects .MainMenu #NavBtnProjects,
    body.projects .MainMenu .MainMenu-links #NavBtnProjects,
    .MainMenu-links body.blog .MainMenu #NavBtnBlog,
    body.blog .MainMenu .MainMenu-links #NavBtnBlog,
    .MainMenu-links .NavBtn:hover {
        color: #4eb0eb;
        background: rgba(255, 255, 255, 0.7)
    }
}
@media (max-width: 800px) {
    .MainMenu {
        position: fixed;
        width: 100%;
        left: 0em;
        padding: 0.5em 2em;
        background: #fff;
        border-bottom: 1px solid #eee;
        z-index: 1;
        top: 0;
        transition: -webkit-transform 0.35s ease-in;
        transition: transform 0.35s ease-in;
        transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in
    }
    .MainMenu.is-hidden {
        -webkit-transform: translateY(-55px);
        -ms-transform: translateY(-55px);
        transform: translateY(-55px)
    }
}
@media (max-width: 800px) {
    body.is-modal-menu-open {
        overflow: hidden;
        position: fixed;
        display: block;
        width: 100%
    }
    .NavBtn {
        font-size: 1em;
        padding: 8px 12px
    }
    .MainMenu-links {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(78, 176, 235, 0.9);
        z-index: 9;
        max-width: none;
        margin: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 3em calc(50% - 9em);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0.5s;
        -webkit-perspective: 1200px;
        perspective: 1200px
    }
    .MainMenu-links .NavBtn {
        font-size: 2em;
        width: 9em;
        text-align: center;
        margin: 0.5em 0;
        color: rgba(255, 255, 255, 0.9);
        border-color: rgba(255, 255, 255, 0.9);
        opacity: 0.4;
        -webkit-transform: translateY(-25%) rotateX(35deg);
        transform: translateY(-25%) rotateX(35deg);
        transition: opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s, color 0.5s ease;
        transition: transform 0.5s, opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s
    }
    .MainMenu-links .NavBtn:hover {
        color: white
    }
    .MainMenu-links .NavBtn.NavBtn--close {
        display: inline-block;
        font-size: 3em;
        border-radius: 2em;
        width: 2em;
        height: 2em;
        line-height: 1.5em;
        margin-left: 2em
    }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
    .MainMenu-links .NavBtn {
        font-size: 1.5em;
        width: 11em;
        margin: 0.3em 0.5em;
        padding: 3px
    }
}
@media (max-width: 800px) {
    .MainMenu-links.is-expanded {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s
    }
    .MainMenu-links.is-expanded .NavBtn {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg)
    }
}
nav.main-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 0.25em;
    position: relative
}
@media (max-width: 800px) {
    nav.main-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(78, 176, 235, 0.9);
        z-index: 9;
        max-width: none;
        margin: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        flex-direction: column;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 3em;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0.5s;
        -webkit-perspective: 1200px;
        perspective: 1200px
    }
    nav.main-menu.open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s
    }
    nav.main-menu a {
        font-size: 2em;
        width: 9em;
        text-align: center;
        margin: 0.5em;
        color: rgba(255, 255, 255, 0.7);
        opacity: 0.4;
        -webkit-transform: translateY(-25%) rotateX(35deg);
        transform: translateY(-25%) rotateX(35deg);
        transition: opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s, color 0.5s ease;
        transition: transform 0.5s, opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s
    }
    nav.main-menu a:hover {
        color: white
    }
    nav.main-menu a.active {
        color: #fff;
        border-width: 2px
    }
    nav.main-menu a.close {
        display: inline;
        font-size: 3.5em;
        border-radius: 2em;
        border-width: 2px;
        width: 1.7em;
        height: 1.7em;
        line-height: 135%;
        cursor: pointer
    }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
    nav.main-menu a {
        font-size: 1.5em;
        margin: 0.3em 0.5em;
        padding: 3px
    }
}
@media (max-width: 800px) {
    nav.main-menu.open a {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg)
    }
}
.ContentBody>table {
    margin: 1em auto;
    width: 100%;
    max-width: 100%;
    display: block;
    overflow: scroll;
    background-color: transparent
}
.ContentBody>table th,
.ContentBody>table td {
    color: #777;
    font-weight: normal;
    padding: 9px;
    line-height: 170%;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #eee
}
.ContentBody>table th {
    color: #666;
    background-color: #eee
}
.ContentBody>table tbody>tr:nth-child(odd)>td {
    background-color: #f6f6f6
}
.ContentBody>table thead+tbody>tr:nth-child(odd)>td {
    background-color: transparent
}
.ContentBody>table thead+tbody>tr:nth-child(even)>td {
    background-color: #f6f6f6
}
.ContentBody>table td:first-child,
.ContentBody>table th:first-child {
    padding-left: 1em
}
.ContentBody>table td:last-child,
.ContentBody>table th:last-child {
    padding-right: 1em
}
.TimelineItem {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.TimelineItem>.TimelineItem-pics {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    padding: 0 2em 2em;
    min-width: 1px;
    text-align: center
}
.TimelineItem>.TimelineItem-pics img {
    max-width: 100%
}
.TimelineItem>.TimelineItem-pics>img:first-child {
    margin-top: 2em
}
.TimelineItem>.TimelineItem-pics.TimelineItem-pics--multi {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.TimelineItem>.TimelineItem-pics.TimelineItem-pics--jelly>img {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5
}
.TimelineItem>.TimelineItem-pics.TimelineItem-pics--jelly>img.is-revealed {
    opacity: 1;
    -webkit-animation: animation--jelly-bounce 1.5s linear both;
    animation: animation--jelly-bounce 1.5s linear both
}
.TimelineItem>.TimelineItem-pics .TimelineItem-pics-footer {
    max-width: none;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    margin: 6em 0 2em 0
}
@media (max-width: 800px) {
    .TimelineItem>.TimelineItem-pics .TimelineItem-pics-footer {
        display: none
    }
}
.TimelineItem>.TimelineItem-details {
    -webkit-flex: 1 1 70%;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
    padding: 2em 0 1em 3em;
    border-left: 3px solid #ccc;
    position: relative
}
.TimelineItem>.TimelineItem-details p:last-child,
.TimelineItem>.TimelineItem-details ul:last-child {
    margin-bottom: 2.5em
}
.TimelineItem>.TimelineItem-details::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 14px;
    border: solid 3px #ccc;
    position: absolute;
    left: -10px;
    margin-top: 8px
}
.TimelineItem>.TimelineItem-details::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    height: 1px;
    width: 40%;
    margin: 0 auto;
    background: #eee;
    right: 1.5em
}
.TimelineItem:first-child>.TimelineItem-pics {
    padding-top: 2em
}
@media (max-width: 800px) {
    .TimelineItem:first-child>.TimelineItem-pics {
        padding-top: 0
    }
}
.TimelineItem:first-child>.TimelineItem-details {
    padding-top: 4em
}
@media (max-width: 800px) {
    .TimelineItem:first-child>.TimelineItem-details {
        padding-top: 2em
    }
}
.TimelineItem.TimelineItem--fadeIn,
.TimelineItem.TimelineItem--header:first-child {
    -webkit-mask-image: linear-gradient(to bottom, transparent 30px, #000 80px);
    mask-image: linear-gradient(to bottom, transparent 30px, #000 80px)
}
.TimelineItem.TimelineItem--fadeIn {
    margin-top: -2em
}
@media (max-width: 800px) {
    .TimelineItem.TimelineItem--fadeIn {
        -webkit-mask-image: none;
        mask-image: none
    }
    .TimelineItem.TimelineItem--fadeIn>.TimelineItem-pics {
        -webkit-mask-image: linear-gradient(to bottom, transparent 30px, #000 80px);
        mask-image: linear-gradient(to bottom, transparent 30px, #000 80px)
    }
    .TimelineItem.TimelineItem--fadeIn .TimelineItem-pics>img:first-child {
        margin-top: 4em
    }
}
.TimelineItem--topLink {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.TimelineItem--topLink>.TimelineItem-footer {
    width: 70%;
    text-align: center;
    border-left: 3px solid #ccc;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-bottom: 1em
}
.TimelineItem--topLink>.TimelineItem-footer::before,
.TimelineItem--topLink>.TimelineItem-footer::after {
    display: none
}
.TimelineItem--header {
    text-align: center;
    padding: 0
}
.TimelineItem--header .TimelineItem-details::before,
.TimelineItem--header .TimelineItem-details::after {
    display: none
}
.TimelineItem--header:first-child {
    padding-top: 1.5em;
    margin-top: -1.5em
}
@media (max-width: 800px) {
    .TimelineItem--header:first-child {
        padding-top: 2em
    }
}
.TimelineItem--header h3 {
    font-size: 2em;
    padding-right: 1em;
    margin: 0
}
@media (max-width: 800px) {
    .TimelineItem--header h3 {
        font-size: 2em
    }
}
@media (max-width: 800px) {
    .TimelineItem {
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    .TimelineItem>.TimelineItem-details {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding: 2em 1em 1em 3em
    }
    .TimelineItem>.TimelineItem-details::after {
        right: 1em
    }
    .TimelineItem>.TimelineItem-pics {
        border-left: 3px solid #ccc;
        padding-bottom: 0;
        text-align: center
    }
    .TimelineItem>.TimelineItem-pics img {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto
    }
    .TimelineItem--topLink>.TimelineItem-footer {
        width: 100%
    }
}
html,
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-smoothing: subpixel-antialiased;
    font-weight: 300
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 300
}
p,
ul,
ol {
    font-weight: normal;
    color: #777;
    font-size: 1.1em;
    line-height: 185%
}
p ul,
ul ul,
ol ul {
    font-size: .95em
}
a {
    color: #4eb0eb;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    border-bottom: 1px dotted #4eb0eb;
    line-height: 130%
}
a:hover {
    color: #7cc4f0;
    border-bottom: solid 1px #7cc4f0
}
aside>a,
aside>a:hover {
    border-bottom: none
}
footer p:nth-child(even) {
    margin-top: -1.5em
}
h2 {
    font-size: 2.4em;
    margin: 0
}
h2 a {
    color: #000;
    border-bottom-color: #000;
    padding-bottom: 3px;
    margin-bottom: 5px;
    display: inline-block
}
h3 {
    margin-top: 0.5em;
    font-size: 1.4em;
    color: #aaa
}
@media (max-width: 800px) {
    h2 {
        font-size: 2.2em
    }
    h3 {
        font-size: 1.1em
    }
}
blockquote {
    margin: 30px 0;
    font-size: 90%;
    border-left: 3px solid #4eb0eb;
    padding-left: 40px
}
blockquote p {
    color: #999
}
.ContentBody h1,
.Comments h1 {
    font-size: 3em;
    text-align: center;
    line-height: 140%
}
.ContentBody h2,
.Comments h2 {
    font-size: 2em;
    margin: 1.5em 0 1em 0
}
.ContentBody h3,
.Comments h3 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 2em 0 1em;
    color: #777777;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px
}
.ContentBody h4,
.Comments h4 {
    font-size: 1.1em;
    color: #919191;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    border-bottom: 1px dotted #aaa;
    padding-bottom: 5px
}
.ContentBody h5,
.Comments h5 {
    font-size: 1.1em;
    margin: 0;
    color: #777
}
.ContentBody strong,
.Comments strong {
    background: #ffffe0;
    padding: 2px 4px
}
.ContentBody a,
.Comments a {
    word-break: break-word
}
.ContentBody h1 code,
.ContentBody h2 code,
.ContentBody h3 code,
.ContentBody h4 code,
.ContentBody h5 code,
.Comments h1 code,
.Comments h2 code,
.Comments h3 code,
.Comments h4 code,
.Comments h5 code {
    font-size: 90%
}
.ContentBody p,
.Comments p {
    margin: 40px 0
}
p.u-centerText {
    text-align: center
}
p.u-imageCaption {
    text-align: center;
    font-style: italic
}
.responsive-video-wrapper {
    position: relative;
    padding-bottom: 53%;
    padding-top: 25px;
    height: 0
}
.responsive-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.MediaAppearances {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row-reverse wrap;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.MediaAppearances p,
.MediaAppearances h2,
.MediaAppearances h3 {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
}
.MediaAppearances p {
    margin-top: 0
}
.MediaAppearances>.MediaAppearances-thumb {
    cursor: pointer;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    margin: 0.5em 0.5em 1.5em 0
}
.MediaAppearances>.MediaAppearances-thumb a {
    border-bottom: none
}
.MediaAppearances>.MediaAppearances-thumb img {
    border-radius: 100px;
    max-width: 100%;
    opacity: 0.6;
    transition: opacity 0.5s ease
}
.MediaAppearances>.MediaAppearances-thumb:hover img {
    opacity: 1
}
.MediaAppearances .MediaAppearances-details:hover+.MediaAppearances-thumb img {
    opacity: 1
}
.MediaAppearances>.MediaAppearances-details {
    cursor: pointer;
    -webkit-flex: 0 1 76%;
    -ms-flex: 0 1 76%;
    flex: 0 1 76%
}
.MediaAppearances>.MediaAppearances-details:last-child {
    margin-bottom: 3.5em
}
.MediaAppearances>.MediaAppearances-details:hover h4 {
    color: #000
}
.MediaAppearances>.MediaAppearances-details:hover date {
    color: #666
}
.MediaAppearances>.MediaAppearances-details>h4 {
    color: #666;
    font-size: 1.2em;
    margin: 1.2em 0 0 0
}
.MediaAppearances>.MediaAppearances-details>date {
    transition: color 0.3s ease;
    color: #aaa;
    font-size: 1.1em;
    margin-top: 0.4em;
    display: block
}
@media (max-width: 800px) {
    .MediaAppearances {
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    .MediaAppearances .MediaAppearances-thumb {
        margin-top: 1.5em
    }
}
.TimelineItem-pics.-experience--ap {
    padding-right: 1em !important
}
@media (max-width: 800px) {
    .TimelineItem-pics.-experience--ap {
        padding-right: initial
    }
}
body.index .TimelineItem .TimelineItem-pics {
    padding-left: 3em;
    padding-right: 3em
}
body.index header {
    display: block;
    border-bottom: 3px solid #eee;
    margin-bottom: 0
}
body.index header .Logo {
    display: none
}
body.index header .MainMenu {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.Me {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.Me-blurb {
    -webkit-flex: 0 1 44%;
    -ms-flex: 0 1 44%;
    flex: 0 1 44%
}
.Me-blurb h2,
.Me-blurb h3,
.Me-blurb h4 {
    -webkit-animation-name: animation--jelly-bounce;
    animation-name: animation--jelly-bounce;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0
}
.Me-blurb h2 {
    font-size: 4vw;
    margin: 6.5vw 0 0.25em 0;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s
}
.Me-blurb h3 {
    margin: 0;
    white-space: nowrap;
    font-size: 2.7vw;
    width: 98%;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    max-width: 550px
}
.Me-blurb h4 {
    font-size: 1.7vw;
    color: #aaa;
    -webkit-animation-duration: 1.9s;
    animation-duration: 1.9s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.Me-social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
@media (min-width: 1750px) {
    .Me-social {
        height: 120px
    }
}
@media (max-width: 800px) {
    .Me-social {
        height: 20vw
    }
}
.Me-social a {
    border-bottom: none;
    width: 18.5%;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    position: relative
}
.Me-social a:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}
.Me-social a svg {
    position: absolute;
    width: 100%
}
.Me-social a svg path {
    transition: stroke 0.5s ease;
    stroke: #999;
    stroke-width: 3
}
.Me-social a#link-linkedin svg path {
    stroke-width: 8
}
.Me-social a#link-xing svg:nth-child(2) path {
    stroke: #026466
}
.Me-social a#link-github svg:nth-child(2) path {
    stroke: #be90d4
}
.Me-social a#link-email svg:nth-child(2) path {
    stroke: #2ecc71
}
.Me-social a#link-linkedin svg:nth-child(2) path {
    stroke: #0079bb
}
.Me-mugshot {
    -webkit-flex: 0 1 52%;
    -ms-flex: 0 1 52%;
    flex: 0 1 52%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    min-width: 1px;
    position: relative
}
.Me-mugshot img {
    display: block;
    max-width: 100%;
    margin-left: -1em
}
@media (max-width: 800px) {
    .Me {
        margin-top: 55px
    }
    .Me-blurb {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%
    }
    .Me-blurb h2 {
        font-size: 10vw
    }
    .Me-blurb h3 {
        width: 100%
    }
    .Me-blurb h4 {
        font-size: 5vw;
        margin: 1em 0 1.5em 0
    }
    .Me-mugshot {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        height: 100px;
        margin-bottom: 60px
    }
    .Me-mugshot img {
        height: calc(15vw + 100px);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        position: absolute;
        left: 1em;
        top: 0
    }
    .Me-social img {
        width: 65px
    }
}
.jv-ColorChangingIcons {
    margin: 1em 0 2.5em -2%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.jv-ColorChangingIcons svg {
    fill: #1abc9c;
    -webkit-animation-name: animation--color-changer;
    animation-name: animation--color-changer;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    width: 6%;
    margin: 0 3%;
    height: 10vw;
    max-height: 100px
}
.jv-ColorChangingIcons svg:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}
.jv-ColorChangingIcons svg:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}
.jv-ColorChangingIcons svg:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s
}
.jv-ColorChangingIcons svg:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s
}
.jv-ColorChangingIcons svg:nth-child(5) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.jv-ColorChangingIcons svg:nth-child(6) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.jv-ColorChangingIcons svg:nth-child(7) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}
.jv-ColorChangingIcons svg:nth-child(8) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}
.ContentBody .jv-FullPreview {
    margin: 1em 0 -1em -2%
}
.jv-VersionHistory {
    font-size: 90%
}
.TimelineItem-pics.-projects-prideify img,
.TimelineItem-pics.-projects-le img {
    border-radius: 100px
}
.TimelineItem-pics.-projects-prideify img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, #000 70%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, #000 70%)
}
.TimelineItem-pics.-projects-thumb-windowed img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}
.prideify-Teaser {
    border-radius: 100px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, #000 70%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, #000 70%)
}
.prideify-Dropzone {
    background: #f9f9f9;
    padding: 1em;
    text-align: center;
    font-size: 1.4em;
    border-radius: 8px;
    border: 1px solid #eee
}
.prideify-Dropzone.is-hovered {
    border-color: #4eb0eb
}
.prideify-Dropzone.is-uploaded {
    border: none;
    background: none
}
.prideify-Dropzone img {
    max-width: 100%
}
.prideify-UrlEntry {
    width: 70%;
    display: inline-block;
    border: none;
    transition: border-bottom .3s ease;
    border-bottom: 1px dashed #ccc;
    font-size: 23px;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    outline: none
}
.prideify-UrlEntry:focus {
    border-bottom: 1px dashed #4eb0eb
}
.prideify-Peg {
    margin-top: .5em
}
.TableOfContents ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 5px 0
}
.TableOfContents ul li {
    margin-left: 40px;
    text-indent: -5px;
    line-height: 210%
}
.windowed,
.windowed * {
    box-sizing: content-box
}
.windowed {
    position: relative;
    display: inline-block;
    height: 35px;
    background: #f0f0f0;
    background: linear-gradient(to bottom, #f0f0f0 0%, #fff 100%);
    box-shadow: inset 0 1px 0 1px #aaa, 0 1px 0 1px #eee
}
.windowed,
.windowed .slider {
    padding: 2px;
    border-radius: 8px
}
.windowed .checkstate,
.windowed li {
    color: #333;
    text-shadow: 1px 1px #ddd;
    font-weight: bold;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px
}
.windowed input[type=checkbox],
.windowed select {
    display: none
}
.windowed .slider {
    position: absolute;
    top: 1px;
    left: 0;
    border: 5px solid #fff;
    box-shadow: inset 0 1px 1px 1px #aaa, 0 0 0 2px #ccc
}
.windowed.disabled {
    opacity: 0.5
}
.windowed.disabled label,
.windowed.disabled li {
    cursor: default
}
.windowed.checkbox {
    width: 100px
}
.windowed .checkstate {
    float: left;
    padding-top: 1px;
    text-align: center
}
.windowed label {
    position: absolute;
    z-index: 999;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.windowed li {
    display: block;
    float: left;
    margin: 0;
    padding: 1px 15px;
    height: 30px;
    cursor: pointer
}
.windowed.select-one {
    padding-bottom: 1px
}
.windowed.select-one .slider {
    padding-right: 0;
    padding-left: 0
}
.windowed ul {
    margin: 0;
    padding: 0;
    border-radius: inherit
}
.windowed ul>li:first-of-type {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit
}
.windowed ul>li:last-of-type {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit
}
.windowed.vertical {
    height: auto
}
.windowed.vertical li {
    float: none;
    background: none;
    text-align: left;
    white-space: nowrap
}
.windowed.warning .slider {
    border-color: #ff9a1c;
    box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #ff8400
}
.windowed.danger .slider {
    border-color: #ff3b10;
    box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #ee5f5b
}
.windowed.success .slider {
    border-color: #7ec43a;
    box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #68a52e
}
.windowed.info .slider {
    border-color: #3a8cf4;
    box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #4bb1cf
}
.windowed.custom {
    background: #333333
}
.windowed.custom .slider {
    border-color: #6c3;
    box-shadow: 0 1px 1px 1px #363 inset, 0 0 0 2px #363
}
.windowed.custom .checkstate,
.windowed.custom li {
    color: #ddd;
    text-shadow: 1px 1px #000
}
.windowed.custom .selected {
    color: #bfa
}
.tinted .windowed .slider {
    background: rgba(0, 0, 0, 0.1)
}
