html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary
{
	display: block;
}
audio,canvas,progress,video
{
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls])
{
	display: none;
	height: 0;
}
[hidden],template
{
	display: none;
}
a
{
	background-color: transparent;
}
a:active,a:hover
{
	outline: 0;
}
abbr[title]
{
	border-bottom: 1px dotted;
}
b,strong
{
	font-weight: bold;
}
dfn
{
	font-style: italic;
}
h1
{
	font-size: 2em;
	margin: 0.67em 0;
}
mark
{
	background: #ff0;
	color: #000;
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup
{
	top: -0.5em;
}
sub
{
	bottom: -0.25em;
}
img
{
	border: 0;
}
svg:not(:root)
{
	overflow: hidden;
}
figure
{
	margin: 1em 40px;
}
hr
{
	box-sizing: content-box;
	height: 0;
}
pre
{
	overflow: auto;
}
code,kbd,pre,samp
{
	font-family: monospace, monospace;
	font-size: 1em;
}
button,input,optgroup,select,textarea
{
	color: inherit;
	font: inherit;
	margin: 0;
}
button
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]
{
	cursor: pointer;
	webkit-appearance: button;
}
button[disabled],html input[disabled]
{
	cursor: default;
}
button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
input
{
	line-height: normal;
}
input[type="checkbox"],input[type="radio"]
{
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button
{
	height: auto;
}
input[type="search"]
{
	box-sizing: content-box;
	webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
	webkit-appearance: none;
}
fieldset
{
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
}
optgroup
{
	font-weight: bold;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
td,th
{
	padding: 0;
}
html.remodal-is-locked
{
	ms-touch-action: none;
	overflow: hidden;
	touch-action: none;
}
.remodal,[data-remodal-id]
{
	display: none;
}
.remodal-overlay
{
	bottom: -5000px;
	display: none;
	left: -5000px;
	position: fixed;
	right: -5000px;
	top: -5000px;
	z-index: 9999;
}
.remodal-wrapper
{
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	webkit-overflow-scrolling: touch;
	z-index: 10000;
}
.remodal-wrapper:after
{
	content: "";
	display: inline-block;
	height: 100%;
	margin-left: -0.05em;
}
.remodal-overlay,.remodal-wrapper
{
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
}
.remodal
{
	ms-text-size-adjust: 100%;
	outline: none;
	position: relative;
	text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
.remodal-is-initialized
{
	display: inline-block;
}
.remodal-bg.remodal-is-opening,.remodal-bg.remodal-is-opened
{
	filter: blur(3px);
	webkit-filter: blur(3px);
}
.remodal-overlay
{
	background: rgba(43,46,56,0.9);
}
.remodal-overlay.remodal-is-opening,.remodal-overlay.remodal-is-closing
{
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	webkit-animation-duration: 0.3s;
	webkit-animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening
{
	animation-name: remodal-overlay-opening-keyframes;
	webkit-animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing
{
	animation-name: remodal-overlay-closing-keyframes;
	webkit-animation-name: remodal-overlay-closing-keyframes;
}
.remodal-wrapper
{
	padding: 10px 10px 0;
}
.remodal
{
	background: #fff;
	box-sizing: border-box;
	color: #2b2e38;
	margin-bottom: 10px;
	padding: 35px;
	transform: translate3d(0, 0, 0);
	webkit-transform: translate3d(0, 0, 0);
	width: 100%;
}
.remodal.remodal-is-opening,.remodal.remodal-is-closing
{
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	webkit-animation-duration: 0.3s;
	webkit-animation-fill-mode: forwards;
}
.remodal.remodal-is-opening
{
	animation-name: remodal-opening-keyframes;
	webkit-animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing
{
	animation-name: remodal-closing-keyframes;
	webkit-animation-name: remodal-closing-keyframes;
}
.remodal,.remodal-wrapper:after
{
	vertical-align: middle;
}
.remodal-close
{
	background: transparent;
	border: 0;
	color: #95979c;
	cursor: pointer;
	display: block;
	height: 35px;
	left: 0;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	transition: color 0.2s;
	width: 35px;
}
.remodal-close:hover,.remodal-close:focus
{
	color: #2b2e38;
}
.remodal-close:before
{
	content: "\00d7";
	display: block;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
	font-size: 25px;
	left: 0;
	line-height: 35px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 35px;
}
.remodal-confirm,.remodal-cancel
{
	border: 0;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	min-width: 110px;
	outline: 0;
	overflow: visible;
	padding: 12px 0;
	text-align: center;
	text-decoration: none;
	transition: background 0.2s;
	vertical-align: middle;
}
.remodal-confirm
{
	background: #81c784;
	color: #fff;
}
.remodal-confirm:hover,.remodal-confirm:focus
{
	background: #66bb6a;
}
.remodal-cancel
{
	background: #e57373;
	color: #fff;
}
.remodal-cancel:hover,.remodal-cancel:focus
{
	background: #ef5350;
}
.remodal-confirm::-moz-focus-inner,.remodal-cancel::-moz-focus-inner,.remodal-close::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
@-webkit-keyframes remodal-opening-keyframes
{
	from
	{
		opacity: 0;
		transform: scale(1.05);
		webkit-transform: scale(1.05);
	}
	to
	{
		opacity: 1;
		transform: none;
		webkit-transform: none;
	}
}
@keyframes remodal-opening-keyframes
{
	from
	{
		opacity: 0;
		transform: scale(1.05);
		webkit-transform: scale(1.05);
	}
	to
	{
		opacity: 1;
		transform: none;
		webkit-transform: none;
	}
}
@-webkit-keyframes remodal-closing-keyframes
{
	from
	{
		opacity: 1;
		transform: scale(1);
		webkit-transform: scale(1);
	}
	to
	{
		opacity: 0;
		transform: scale(0.95);
		webkit-transform: scale(0.95);
	}
}
@keyframes remodal-closing-keyframes
{
	from
	{
		opacity: 1;
		transform: scale(1);
		webkit-transform: scale(1);
	}
	to
	{
		opacity: 0;
		transform: scale(0.95);
		webkit-transform: scale(0.95);
	}
}
@-webkit-keyframes remodal-overlay-opening-keyframes
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}
@keyframes remodal-overlay-opening-keyframes
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}
@-webkit-keyframes remodal-overlay-closing-keyframes
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}
@keyframes remodal-overlay-closing-keyframes
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}
@media only screen and (min-width: 641px)
{
	.remodal
	{
		max-width: 700px;
	}
}
.lt-ie9 .remodal-overlay
{
	background: #2b2e38;
}
.lt-ie9 .remodal
{
	width: 700px;
}
.codehilite .hll
{
	background-color: #ffc;
}
.codehilite .c
{
	color: #999988;
	font-style: italic;
}
.codehilite .err
{
	background-color: #e3d2d2;
	color: #a61717;
}
.codehilite .k
{
	color: #000000;
	font-weight: bold;
}
.codehilite .o
{
	color: #000000;
	font-weight: bold;
}
.codehilite .cm
{
	color: #999988;
	font-style: italic;
}
.codehilite .cp
{
	color: #999999;
	font-style: italic;
	font-weight: bold;
}
.codehilite .c1
{
	color: #999988;
	font-style: italic;
}
.codehilite .cs
{
	color: #999999;
	font-style: italic;
	font-weight: bold;
}
.codehilite .gd
{
	background-color: #fdd;
	color: #000000;
}
.codehilite .ge
{
	color: #000000;
	font-style: italic;
}
.codehilite .gr
{
	color: #a00;
}
.codehilite .gh
{
	color: #999;
}
.codehilite .gi
{
	background-color: #dfd;
	color: #000000;
}
.codehilite .go
{
	color: #888;
}
.codehilite .gp
{
	color: #555;
}
.codehilite .gs
{
	font-weight: bold;
}
.codehilite .gu
{
	color: #aaa;
}
.codehilite .gt
{
	color: #a00;
}
.codehilite .kc
{
	color: #000000;
	font-weight: bold;
}
.codehilite .kd
{
	color: #000000;
	font-weight: bold;
}
.codehilite .kn
{
	color: #000000;
	font-weight: bold;
}
.codehilite .kp
{
	color: #000000;
	font-weight: bold;
}
.codehilite .kr
{
	color: #000000;
	font-weight: bold;
}
.codehilite .kt
{
	color: #445588;
	font-weight: bold;
}
.codehilite .m
{
	color: #099;
}
.codehilite .s
{
	color: #d01040;
}
.codehilite .na
{
	color: teal;
}
.codehilite .nb
{
	color: #0086B3;
}
.codehilite .nc
{
	color: #445588;
	font-weight: bold;
}
.codehilite .no
{
	color: teal;
}
.codehilite .nd
{
	color: #3c5d5d;
	font-weight: bold;
}
.codehilite .ni
{
	color: purple;
}
.codehilite .ne
{
	color: #990000;
	font-weight: bold;
}
.codehilite .nf
{
	color: #990000;
	font-weight: bold;
}
.codehilite .nl
{
	color: #990000;
	font-weight: bold;
}
.codehilite .nn
{
	color: #555;
}
.codehilite .nt
{
	color: navy;
}
.codehilite .nv
{
	color: teal;
}
.codehilite .ow
{
	color: #000000;
	font-weight: bold;
}
.codehilite .w
{
	color: #bbb;
}
.codehilite .mf
{
	color: #099;
}
.codehilite .mh
{
	color: #099;
}
.codehilite .mi
{
	color: #099;
}
.codehilite .mo
{
	color: #099;
}
.codehilite .sb
{
	color: #d01040;
}
.codehilite .sc
{
	color: #d01040;
}
.codehilite .sd
{
	color: #d01040;
}
.codehilite .s2
{
	color: #d01040;
}
.codehilite .se
{
	color: #d01040;
}
.codehilite .sh
{
	color: #d01040;
}
.codehilite .si
{
	color: #d01040;
}
.codehilite .sx
{
	color: #d01040;
}
.codehilite .sr
{
	color: #009926;
}
.codehilite .s1
{
	color: #d01040;
}
.codehilite .ss
{
	color: #990073;
}
.codehilite .bp
{
	color: #999;
}
.codehilite .vc
{
	color: teal;
}
.codehilite .vg
{
	color: teal;
}
.codehilite .vi
{
	color: teal;
}
.codehilite .il
{
	color: #099;
}
*
{
	box-sizing: border-box;
}
header,main,footer
{
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 6vw;
}
article
{
	margin: 0 auto;
	max-width: 780px;
}
article.ContentBody
{
	padding-bottom: 2em;
	padding-top: 2em;
}
@media (max-width: 800px)
{
	article.ContentBody
	{
		padding-bottom: 1em;
		padding-top: 1em;
	}
}
header
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-pack: justify;
	position: relative;
	webkit-justify-content: space-between;
	z-index: 1;
}
@media (max-width: 800px)
{
	header
	{
		margin-bottom: 4em;
	}
}
footer
{
	border-top: solid 3px #eee;
}
footer p
{
	color: #aaa;
	font-size: 0.95em;
	line-height: 175%;
	padding: 0.75em 0;
	text-align: center;
}
.TimelineItem.TimelineItem--post h2
{
	font-size: 1.75em;
}
.TimelineItem.TimelineItem--post h2 a
{
	line-height: 1.55em;
	padding-bottom: 0.25em;
}
.TimelineItem.TimelineItem--post h3
{
	font-size: 1.1em;
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost h2
{
	font-size: 1.4em;
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost h2 img
{
	vertical-align: -2px;
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost h3
{
	font-size: 1em;
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost .TimelineItem-details::before
{
	height: 8px;
	left: -8px;
	margin-top: 10px;
	width: 8px;
}
.TimelineItem.TimelineItem--post.TimelineItem--externalPost .TimelineItem-details::after
{
	display: none;
}
.TimelineItem--topLink>.TimelineItem-footer.TimelineItem-footer--blog
{
	width: 100%;
}
.PostMeta,.ContentBody h2.PostMeta
{
	border: 0;
	color: #aaa;
	font-size: 1.2em;
	font-weight: 300;
	margin: -1em 0 2em 0;
	text-align: center;
}
.blog .ContentBody h4
{
	margin: 1em 0 0.5em;
}
@-webkit-keyframes animation--jelly-bounce
{
	0%
	{
		transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	3.4%
	{
		transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7%
	{
		transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	6.81%
	{
		transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41%
	{
		transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	10.21%
	{
		transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	13.61%
	{
		transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11%
	{
		transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	17.52%
	{
		transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72%
	{
		transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	21.32%
	{
		transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32%
	{
		transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	25.23%
	{
		transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.03%
	{
		transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93%
	{
		transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54%
	{
		transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	36.74%
	{
		transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04%
	{
		transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	44.44%
	{
		transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15%
	{
		transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	59.86%
	{
		transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26%
	{
		transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	75.28%
	{
		transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49%
	{
		transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	90.69%
	{
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100%
	{
		opacity: 1;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}
@keyframes animation--jelly-bounce
{
	0%
	{
		transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	3.4%
	{
		transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7%
	{
		transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	6.81%
	{
		transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41%
	{
		transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	10.21%
	{
		transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	13.61%
	{
		transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11%
	{
		transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	17.52%
	{
		transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72%
	{
		transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	21.32%
	{
		transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32%
	{
		transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	25.23%
	{
		transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.03%
	{
		transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93%
	{
		transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54%
	{
		transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	36.74%
	{
		transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04%
	{
		transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	44.44%
	{
		transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15%
	{
		transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	59.86%
	{
		transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26%
	{
		transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	75.28%
	{
		transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49%
	{
		transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	90.69%
	{
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100%
	{
		opacity: 1;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}
@-webkit-keyframes animation--color-changer
{
	0%
	{
		fill: #1abc9c;
	}
	15%
	{
		fill: #3498db;
	}
	30%
	{
		fill: #9b59b6;
	}
	45%
	{
		fill: #e74c3c;
	}
	60%
	{
		fill: #e67e22;
	}
	75%
	{
		fill: #f1c40f;
	}
	90%
	{
		fill: #40d47e;
	}
}
@keyframes animation--color-changer
{
	0%
	{
		fill: #1abc9c;
	}
	15%
	{
		fill: #3498db;
	}
	30%
	{
		fill: #9b59b6;
	}
	45%
	{
		fill: #e74c3c;
	}
	60%
	{
		fill: #e67e22;
	}
	75%
	{
		fill: #f1c40f;
	}
	90%
	{
		fill: #40d47e;
	}
}
.Btn
{
	border: 1px solid #4eb0eb;
	border-radius: 8px;
	color: #4eb0eb;
	display: inline-block;
	margin-right: 10px;
	opacity: 0.7;
	padding: 12px 16px;
	transition: opacity 0.3s ease;
}
p .Btn
{
	margin-bottom: 10px;
}
.Btn:hover
{
	color: #4eb0eb;
	opacity: 1;
}
.Btn.Btn--cta
{
	border-color: #40d47e;
}
.Btn.Btn--cta,.Btn.Btn--cta:hover
{
	color: #40d47e;
}
.Btn.Btn--large
{
	font-size: 1.1em;
	padding: 16px 25px;
}
.Btn.Btn--source
{
	background: url(/assets/images/icons/github-thick.svg) no-repeat 15px center;
	border-color: #777;
	color: #777;
}
.Btn.Btn--rubygems
{
	background: url(/assets/images/icons/rubygems.svg) no-repeat 15px center;
	border-color: #eb4e62;
	color: #eb4e62;
}
.Btn.Btn--source,.Btn.Btn--rubygems
{
	background-size: 25px;
	padding-left: 50px;
}
.Callout
{
	background: #fafafa;
	border-left: solid 5px #eb894e;
	margin: 2.5em 0 1.5em;
	padding: 1em 2em;
	position: relative;
}
.Callout strong,.ContentBody .Callout strong
{
	padding-left: 0;
}
.Callout::before
{
	background-color: #eb894e;
	border-radius: 100%;
	color: #fff;
	content: "!";
	font-size: 14px;
	height: 20px;
	left: -12px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	top: calc(50% - 20px);
	width: 20px;
}
.SourceCallout
{
	background: #f9f9f9;
	font-size: 95%;
	margin: 0;
	padding: 2em;
	text-align: center;
}
.SourceCallout>p
{
	margin: 0;
}
.codehilite
{
	margin: 2em 0 2.8em;
}
.codehilite table,.codehilite tbody
{
	display: block;
	width: 100%;
}
.codehilite td
{
	border: 1px solid #dee;
}
.codehilite tr
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
}
.codehilite .code
{
	display: block;
	flex: 1 0 0px;
	margin-left: -1px;
	max-width: calc(100% - 2em);
	ms-flex: 1 0 0px;
	webkit-flex: 1 0 0px;
}
pre
{
	line-height: 23px;
	margin: 0;
	overflow-x: auto;
	padding: 10px;
	white-space: pre;
	word-break: inherit;
	word-wrap: inherit;
}
.codehilite .gl
{
	background: #fafafa;
	border-right: 1px solid #ddd;
	color: #ccc;
	moz-user-select: none;
	ms-user-select: none;
	overflow: hidden;
	padding: 0 5px;
	user-select: none;
	webkit-user-select: none;
}
p code,li code,td code
{
	background: #fafafa;
	border: 1px dotted #ccc;
	border-radius: 8px;
	color: #666;
	font-size: 90%;
	margin: 0 4px;
	padding: 3px 6px;
	word-wrap: break-word;
}
a code
{
	color: inherit;
	margin: 0 -1px;
	padding: 3px 10px;
	text-decoration: underline;
}
.ArgumentSpec
{
	background: #ffffef;
	border: solid 1px #eee;
	border-radius: 8px;
	line-height: 190%;
	list-style-type: none;
	margin: 2.5em 0 1.5em;
	padding: 1em 2em;
}
.ArgumentSpec li strong
{
	padding-left: 0;
}
.ArgumentSpec li code
{
	background: rgba(255,255,255,0.5);
}
.ContentBody+.Comments
{
	margin: -3em auto 3em;
}
.Logo
{
	border-bottom: 1px solid transparent;
	color: #ccc;
	font-size: 2em;
	left: 0;
	letter-spacing: -1px;
	margin: 0;
	text-decoration: none;
	text-transform: none;
	top: -.35em;
}
.Logo span
{
	color: #aaa;
}
@media (max-width: 800px)
{
	header
	{
		margin-bottom: 4em;
	}
	.Logo
	{
		font-size: 1.7em;
	}
	.Logo:hover
	{
		border-bottom: none;
	}
}
.ContentBody p img
{
	border-radius: 8px;
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
.ContentBody h1 img
{
	max-width: 100%;
}
.Btn,.NavBtn
{
	border: 1px solid #4eb0eb;
	border-radius: 8px;
	color: #4eb0eb;
	display: inline-block;
	margin-right: 10px;
	opacity: 0.7;
	padding: 12px 16px;
	transition: opacity 0.3s ease;
}
p .Btn,p .NavBtn
{
	margin-bottom: 10px;
}
.Btn:hover,.NavBtn:hover
{
	color: #4eb0eb;
	opacity: 1;
}
.Btn.Btn--cta,.Btn--cta.NavBtn
{
	border-color: #40d47e;
}
.Btn.Btn--cta,.Btn--cta.NavBtn,.Btn.Btn--cta:hover,.Btn--cta.NavBtn:hover
{
	color: #40d47e;
}
.Btn.Btn--large,.Btn--large.NavBtn
{
	font-size: 1.1em;
	padding: 16px 25px;
}
.Btn.Btn--source,.Btn--source.NavBtn
{
	background: url(/assets/images/icons/github-thick.svg) no-repeat 15px center;
	border-color: #777;
	color: #777;
}
.Btn.Btn--rubygems,.Btn--rubygems.NavBtn
{
	background: url(/assets/images/icons/rubygems.svg) no-repeat 15px center;
	border-color: #eb4e62;
	color: #eb4e62;
}
.Btn.Btn--source,.Btn--source.NavBtn,.Btn.Btn--rubygems,.Btn--rubygems.NavBtn
{
	background-size: 25px;
	padding-left: 50px;
}
.MainMenu
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	padding: 1em 0;
	webkit-align-items: center;
	webkit-justify-content: space-between;
	width: 100%;
}
.NavBtn
{
	border-color: #777;
	color: #777;
	font-size: 1.1em;
	font-weight: normal;
}
.NavBtn.NavBtn--close
{
	display: none;
}
.NavBtn.NavBtn--mobileOnly
{
	display: none;
	margin-right: 0;
}
@media (max-width: 800px)
{
	.NavBtn.NavBtn--mobileOnly
	{
		display: inline-block;
	}
}
.NavBtn.is-active,body.index .MainMenu #NavBtnAbout,body.projects .MainMenu #NavBtnProjects,body.blog .MainMenu #NavBtnBlog,.NavBtn:hover
{
	border-color: #4eb0eb;
	color: #4eb0eb;
}
@media (max-width: 800px)
{
	.MainMenu-links .NavBtn.is-active,.MainMenu-links body.index .MainMenu #NavBtnAbout,body.index .MainMenu .MainMenu-links #NavBtnAbout,.MainMenu-links body.projects .MainMenu #NavBtnProjects,body.projects .MainMenu .MainMenu-links #NavBtnProjects,.MainMenu-links body.blog .MainMenu #NavBtnBlog,body.blog .MainMenu .MainMenu-links #NavBtnBlog,.MainMenu-links .NavBtn:hover
	{
		background: rgba(255,255,255,0.7);
		color: #4eb0eb;
	}
}
@media (max-width: 800px)
{
	.MainMenu
	{
		background: #fff;
		border-bottom: 1px solid #eee;
		left: 0em;
		padding: 0.5em 2em;
		position: fixed;
		top: 0;
		transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
		transition: transform 0.35s ease-in;
		transition: -webkit-transform 0.35s ease-in;
		width: 100%;
		z-index: 1;
	}
	.MainMenu.is-hidden
	{
		ms-transform: translateY(-55px);
		transform: translateY(-55px);
		webkit-transform: translateY(-55px);
	}
}
@media (max-width: 800px)
{
	body.is-modal-menu-open
	{
		display: block;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
	.NavBtn
	{
		font-size: 1em;
		padding: 8px 12px;
	}
	.MainMenu-links
	{
		background: rgba(78,176,235,0.9);
		flex-direction: column;
		height: 100%;
		justify-content: flex-start;
		left: 0;
		margin: 0;
		max-width: none;
		ms-flex-direction: column;
		ms-flex-pack: start;
		opacity: 0;
		padding: 3em calc(50% - 9em);
		perspective: 1200px;
		position: fixed;
		top: 0;
		transition: opacity 0.5s, visibility 0s 0.5s;
		visibility: hidden;
		webkit-flex-direction: column;
		webkit-justify-content: flex-start;
		webkit-perspective: 1200px;
		width: 100%;
		z-index: 9;
	}
	.MainMenu-links .NavBtn
	{
		border-color: rgba(255,255,255,0.9);
		color: rgba(255,255,255,0.9);
		font-size: 2em;
		margin: 0.5em 0;
		opacity: 0.4;
		text-align: center;
		transform: translateY(-25%) rotateX(35deg);
		transition: opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s;
		transition: transform 0.5s, opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s;
		transition: transform 0.5s, opacity 0.5s, color 0.5s ease;
		webkit-transform: translateY(-25%) rotateX(35deg);
		width: 9em;
	}
	.MainMenu-links .NavBtn:hover
	{
		color: white;
	}
	.MainMenu-links .NavBtn.NavBtn--close
	{
		border-radius: 2em;
		display: inline-block;
		font-size: 3em;
		height: 2em;
		line-height: 1.5em;
		margin-left: 2em;
		width: 2em;
	}
}
@media screen and (max-width: 800px) and (orientation: landscape)
{
	.MainMenu-links .NavBtn
	{
		font-size: 1.5em;
		margin: 0.3em 0.5em;
		padding: 3px;
		width: 11em;
	}
}
@media (max-width: 800px)
{
	.MainMenu-links.is-expanded
	{
		opacity: 1;
		transition: opacity 0.5s;
		visibility: visible;
	}
	.MainMenu-links.is-expanded .NavBtn
	{
		opacity: 1;
		transform: rotateX(0deg);
		webkit-transform: rotateX(0deg);
	}
}
nav.main-menu
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: flex-end;
	ms-flex-pack: end;
	padding-top: 0.25em;
	position: relative;
	webkit-justify-content: flex-end;
}
@media (max-width: 800px)
{
	nav.main-menu
	{
		align-items: center;
		background: rgba(78,176,235,0.9);
		flex-direction: column;
		height: 100%;
		justify-content: flex-start;
		left: 0;
		margin: 0;
		max-width: none;
		ms-flex-align: center;
		ms-flex-direction: column;
		ms-flex-pack: start;
		ms-grid-row-align: center;
		opacity: 0;
		padding-top: 3em;
		perspective: 1200px;
		position: fixed;
		top: 0;
		transition: opacity 0.5s, visibility 0s 0.5s;
		visibility: hidden;
		webkit-align-items: center;
		webkit-flex-direction: column;
		webkit-justify-content: flex-start;
		webkit-perspective: 1200px;
		width: 100%;
		z-index: 9;
	}
	nav.main-menu.open
	{
		opacity: 1;
		transition: opacity 0.5s;
		visibility: visible;
	}
	nav.main-menu a
	{
		color: rgba(255,255,255,0.7);
		font-size: 2em;
		margin: 0.5em;
		opacity: 0.4;
		text-align: center;
		transform: translateY(-25%) rotateX(35deg);
		transition: opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s;
		transition: transform 0.5s, opacity 0.5s, color 0.5s ease, -webkit-transform 0.5s;
		transition: transform 0.5s, opacity 0.5s, color 0.5s ease;
		webkit-transform: translateY(-25%) rotateX(35deg);
		width: 9em;
	}
	nav.main-menu a:hover
	{
		color: white;
	}
	nav.main-menu a.active
	{
		border-width: 2px;
		color: #fff;
	}
	nav.main-menu a.close
	{
		border-radius: 2em;
		border-width: 2px;
		cursor: pointer;
		display: inline;
		font-size: 3.5em;
		height: 1.7em;
		line-height: 135%;
		width: 1.7em;
	}
}
@media screen and (max-width: 800px) and (orientation: landscape)
{
	nav.main-menu a
	{
		font-size: 1.5em;
		margin: 0.3em 0.5em;
		padding: 3px;
	}
}
@media (max-width: 800px)
{
	nav.main-menu.open a
	{
		opacity: 1;
		transform: rotateX(0deg);
		webkit-transform: rotateX(0deg);
	}
}
.ContentBody>table
{
	background-color: transparent;
	display: block;
	margin: 1em auto;
	max-width: 100%;
	overflow: scroll;
	width: 100%;
}
.ContentBody>table th,.ContentBody>table td
{
	border-top: 1px solid #eee;
	color: #777;
	font-weight: normal;
	line-height: 170%;
	padding: 9px;
	text-align: left;
	vertical-align: top;
}
.ContentBody>table th
{
	background-color: #eee;
	color: #666;
}
.ContentBody>table tbody>tr:nth-child(odd)>td
{
	background-color: #f6f6f6;
}
.ContentBody>table thead+tbody>tr:nth-child(odd)>td
{
	background-color: transparent;
}
.ContentBody>table thead+tbody>tr:nth-child(even)>td
{
	background-color: #f6f6f6;
}
.ContentBody>table td:first-child,.ContentBody>table th:first-child
{
	padding-left: 1em;
}
.ContentBody>table td:last-child,.ContentBody>table th:last-child
{
	padding-right: 1em;
}
.TimelineItem
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.TimelineItem>.TimelineItem-pics
{
	flex: 1 1 30%;
	min-width: 1px;
	ms-flex: 1 1 30%;
	padding: 0 2em 2em;
	text-align: center;
	webkit-flex: 1 1 30%;
}
.TimelineItem>.TimelineItem-pics img
{
	max-width: 100%;
}
.TimelineItem>.TimelineItem-pics>img:first-child
{
	margin-top: 2em;
}
.TimelineItem>.TimelineItem-pics.TimelineItem-pics--multi
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-between;
	ms-flex-direction: column;
	ms-flex-pack: justify;
	webkit-flex-direction: column;
	webkit-justify-content: space-between;
}
.TimelineItem>.TimelineItem-pics.TimelineItem-pics--jelly>img
{
	ms-transform: scale(0.5);
	opacity: 0.5;
	transform: scale(0.5);
	webkit-transform: scale(0.5);
}
.TimelineItem>.TimelineItem-pics.TimelineItem-pics--jelly>img.is-revealed
{
	animation: animation--jelly-bounce 1.5s linear both;
	opacity: 1;
	webkit-animation: animation--jelly-bounce 1.5s linear both;
}
.TimelineItem>.TimelineItem-pics .TimelineItem-pics-footer
{
	align-self: flex-end;
	justify-content: inherit;
	margin: 6em 0 2em 0;
	max-width: none;
	ms-flex-item-align: end;
	ms-flex-pack: inherit;
	webkit-align-self: flex-end;
	webkit-justify-content: inherit;
}
@media (max-width: 800px)
{
	.TimelineItem>.TimelineItem-pics .TimelineItem-pics-footer
	{
		display: none;
	}
}
.TimelineItem>.TimelineItem-details
{
	border-left: 3px solid #ccc;
	flex: 1 1 70%;
	ms-flex: 1 1 70%;
	padding: 2em 0 1em 3em;
	position: relative;
	webkit-flex: 1 1 70%;
}
.TimelineItem>.TimelineItem-details p:last-child,.TimelineItem>.TimelineItem-details ul:last-child
{
	margin-bottom: 2.5em;
}
.TimelineItem>.TimelineItem-details::before
{
	background: #fff;
	border: solid 3px #ccc;
	border-radius: 14px;
	content: '';
	display: block;
	height: 11px;
	left: -10px;
	margin-top: 8px;
	position: absolute;
	width: 11px;
}
.TimelineItem>.TimelineItem-details::after
{
	background: #eee;
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	margin: 0 auto;
	position: relative;
	right: 1.5em;
	width: 40%;
}
.TimelineItem:first-child>.TimelineItem-pics
{
	padding-top: 2em;
}
@media (max-width: 800px)
{
	.TimelineItem:first-child>.TimelineItem-pics
	{
		padding-top: 0;
	}
}
.TimelineItem:first-child>.TimelineItem-details
{
	padding-top: 4em;
}
@media (max-width: 800px)
{
	.TimelineItem:first-child>.TimelineItem-details
	{
		padding-top: 2em;
	}
}
.TimelineItem.TimelineItem--fadeIn,.TimelineItem.TimelineItem--header:first-child
{
	mask-image: linear-gradient(to bottom, transparent 30px, #000 80px);
	webkit-mask-image: linear-gradient(to bottom, transparent 30px, #000 80px);
}
.TimelineItem.TimelineItem--fadeIn
{
	margin-top: -2em;
}
@media (max-width: 800px)
{
	.TimelineItem.TimelineItem--fadeIn
	{
		mask-image: none;
		webkit-mask-image: none;
	}
	.TimelineItem.TimelineItem--fadeIn>.TimelineItem-pics
	{
		mask-image: linear-gradient(to bottom, transparent 30px, #000 80px);
		webkit-mask-image: linear-gradient(to bottom, transparent 30px, #000 80px);
	}
	.TimelineItem.TimelineItem--fadeIn .TimelineItem-pics>img:first-child
	{
		margin-top: 4em;
	}
}
.TimelineItem--topLink
{
	justify-content: flex-end;
	ms-flex-pack: end;
	webkit-justify-content: flex-end;
}
.TimelineItem--topLink>.TimelineItem-footer
{
	border-left: 3px solid #ccc;
	flex-grow: 0;
	ms-flex-positive: 0;
	padding-bottom: 1em;
	text-align: center;
	webkit-flex-grow: 0;
	width: 70%;
}
.TimelineItem--topLink>.TimelineItem-footer::before,.TimelineItem--topLink>.TimelineItem-footer::after
{
	display: none;
}
.TimelineItem--header
{
	padding: 0;
	text-align: center;
}
.TimelineItem--header .TimelineItem-details::before,.TimelineItem--header .TimelineItem-details::after
{
	display: none;
}
.TimelineItem--header:first-child
{
	margin-top: -1.5em;
	padding-top: 1.5em;
}
@media (max-width: 800px)
{
	.TimelineItem--header:first-child
	{
		padding-top: 2em;
	}
}
.TimelineItem--header h3
{
	font-size: 2em;
	margin: 0;
	padding-right: 1em;
}
@media (max-width: 800px)
{
	.TimelineItem--header h3
	{
		font-size: 2em;
	}
}
@media (max-width: 800px)
{
	.TimelineItem
	{
		flex-flow: row wrap;
		ms-flex-flow: row wrap;
		webkit-flex-flow: row wrap;
	}
	.TimelineItem>.TimelineItem-details
	{
		flex: 1 1 100%;
		ms-flex: 1 1 100%;
		padding: 2em 1em 1em 3em;
		webkit-flex: 1 1 100%;
	}
	.TimelineItem>.TimelineItem-details::after
	{
		right: 1em;
	}
	.TimelineItem>.TimelineItem-pics
	{
		border-left: 3px solid #ccc;
		padding-bottom: 0;
		text-align: center;
	}
	.TimelineItem>.TimelineItem-pics img
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 60%;
	}
	.TimelineItem--topLink>.TimelineItem-footer
	{
		width: 100%;
	}
}
html,body
{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-smoothing: subpixel-antialiased;
	font-weight: 300;
}
h1,h2,h3,h4,h5
{
	font-weight: 300;
}
p,ul,ol
{
	color: #777;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 185%;
}
p ul,ul ul,ol ul
{
	font-size: .95em;
}
a
{
	border-bottom: 1px dotted #4eb0eb;
	color: #4eb0eb;
	cursor: pointer;
	display: inline;
	line-height: 130%;
	text-decoration: none;
}
a:hover
{
	border-bottom: solid 1px #7cc4f0;
	color: #7cc4f0;
}
aside>a,aside>a:hover
{
	border-bottom: none;
}
footer p:nth-child(even)
{
	margin-top: -1.5em;
}
h2
{
	font-size: 2.4em;
	margin: 0;
}
h2 a
{
	border-bottom-color: #000;
	color: #000;
	display: inline-block;
	margin-bottom: 5px;
	padding-bottom: 3px;
}
h3
{
	color: #aaa;
	font-size: 1.4em;
	margin-top: 0.5em;
}
@media (max-width: 800px)
{
	h2
	{
		font-size: 2.2em;
	}
	h3
	{
		font-size: 1.1em;
	}
}
blockquote
{
	border-left: 3px solid #4eb0eb;
	font-size: 90%;
	margin: 30px 0;
	padding-left: 40px;
}
blockquote p
{
	color: #999;
}
.ContentBody h1,.Comments h1
{
	font-size: 3em;
	line-height: 140%;
	text-align: center;
}
.ContentBody h2,.Comments h2
{
	font-size: 2em;
	margin: 1.5em 0 1em 0;
}
.ContentBody h3,.Comments h3
{
	border-bottom: 1px solid #eee;
	color: #777777;
	font-size: 1.5em;
	font-weight: normal;
	margin: 2em 0 1em;
	padding-bottom: 10px;
}
.ContentBody h4,.Comments h4
{
	border-bottom: 1px dotted #aaa;
	color: #919191;
	display: inline-block;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0;
	padding-bottom: 5px;
}
.ContentBody h5,.Comments h5
{
	color: #777;
	font-size: 1.1em;
	margin: 0;
}
.ContentBody strong,.Comments strong
{
	background: #ffffe0;
	padding: 2px 4px;
}
.ContentBody a,.Comments a
{
	word-break: break-word;
}
.ContentBody h1 code,.ContentBody h2 code,.ContentBody h3 code,.ContentBody h4 code,.ContentBody h5 code,.Comments h1 code,.Comments h2 code,.Comments h3 code,.Comments h4 code,.Comments h5 code
{
	font-size: 90%;
}
.ContentBody p,.Comments p
{
	margin: 40px 0;
}
p.u-centerText
{
	text-align: center;
}
p.u-imageCaption
{
	font-style: italic;
	text-align: center;
}
.responsive-video-wrapper
{
	height: 0;
	padding-bottom: 53%;
	padding-top: 25px;
	position: relative;
}
.responsive-video-wrapper iframe
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.MediaAppearances
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow: row-reverse wrap;
	justify-content: space-between;
	ms-flex-flow: row-reverse wrap;
	ms-flex-pack: justify;
	webkit-flex-flow: row-reverse wrap;
	webkit-justify-content: space-between;
}
.MediaAppearances p,.MediaAppearances h2,.MediaAppearances h3
{
	flex: 0 1 100%;
	ms-flex: 0 1 100%;
	webkit-flex: 0 1 100%;
}
.MediaAppearances p
{
	margin-top: 0;
}
.MediaAppearances>.MediaAppearances-thumb
{
	cursor: pointer;
	flex: 0 1 20%;
	margin: 0.5em 0.5em 1.5em 0;
	ms-flex: 0 1 20%;
	webkit-flex: 0 1 20%;
}
.MediaAppearances>.MediaAppearances-thumb a
{
	border-bottom: none;
}
.MediaAppearances>.MediaAppearances-thumb img
{
	border-radius: 100px;
	max-width: 100%;
	opacity: 0.6;
	transition: opacity 0.5s ease;
}
.MediaAppearances>.MediaAppearances-thumb:hover img
{
	opacity: 1;
}
.MediaAppearances .MediaAppearances-details:hover+.MediaAppearances-thumb img
{
	opacity: 1;
}
.MediaAppearances>.MediaAppearances-details
{
	cursor: pointer;
	flex: 0 1 76%;
	ms-flex: 0 1 76%;
	webkit-flex: 0 1 76%;
}
.MediaAppearances>.MediaAppearances-details:last-child
{
	margin-bottom: 3.5em;
}
.MediaAppearances>.MediaAppearances-details:hover h4
{
	color: #000;
}
.MediaAppearances>.MediaAppearances-details:hover date
{
	color: #666;
}
.MediaAppearances>.MediaAppearances-details>h4
{
	color: #666;
	font-size: 1.2em;
	margin: 1.2em 0 0 0;
}
.MediaAppearances>.MediaAppearances-details>date
{
	color: #aaa;
	display: block;
	font-size: 1.1em;
	margin-top: 0.4em;
	transition: color 0.3s ease;
}
@media (max-width: 800px)
{
	.MediaAppearances
	{
		flex-flow: row wrap;
		ms-flex-flow: row wrap;
		webkit-flex-flow: row wrap;
	}
	.MediaAppearances .MediaAppearances-thumb
	{
		margin-top: 1.5em;
	}
}
.TimelineItem-pics.-experience--ap
{
	padding-right: 1em !important;
}
@media (max-width: 800px)
{
	.TimelineItem-pics.-experience--ap
	{
		padding-right: initial;
	}
}
body.index .TimelineItem .TimelineItem-pics
{
	padding-left: 3em;
	padding-right: 3em;
}
body.index header
{
	border-bottom: 3px solid #eee;
	display: block;
	margin-bottom: 0;
}
body.index header .Logo
{
	display: none;
}
body.index header .MainMenu
{
	justify-content: flex-end;
	ms-flex-pack: end;
	webkit-justify-content: flex-end;
}
.Me
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex: 1 0 100%;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1200px;
	ms-flex: 1 0 100%;
	ms-flex-flow: row wrap;
	ms-flex-pack: justify;
	webkit-flex: 1 0 100%;
	webkit-flex-flow: row wrap;
	webkit-justify-content: space-between;
}
.Me-blurb
{
	flex: 0 1 44%;
	ms-flex: 0 1 44%;
	webkit-flex: 0 1 44%;
}
.Me-blurb h2,.Me-blurb h3,.Me-blurb h4
{
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: animation--jelly-bounce;
	animation-timing-function: ease-in;
	opacity: 0;
	webkit-animation-fill-mode: forwards;
	webkit-animation-iteration-count: 1;
	webkit-animation-name: animation--jelly-bounce;
	webkit-animation-timing-function: ease-in;
}
.Me-blurb h2
{
	animation-delay: 0.3s;
	animation-duration: 1.2s;
	font-size: 4vw;
	margin: 6.5vw 0 0.25em 0;
	webkit-animation-delay: 0.3s;
	webkit-animation-duration: 1.2s;
}
.Me-blurb h3
{
	animation-delay: 0.8s;
	animation-duration: 1.2s;
	font-size: 2.7vw;
	margin: 0;
	max-width: 550px;
	webkit-animation-delay: 0.8s;
	webkit-animation-duration: 1.2s;
	white-space: nowrap;
	width: 98%;
}
.Me-blurb h4
{
	animation-delay: 1.5s;
	animation-duration: 1.9s;
	color: #aaa;
	font-size: 1.7vw;
	webkit-animation-delay: 1.5s;
	webkit-animation-duration: 1.9s;
}
.Me-social
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-justify-content: space-between;
}
@media (min-width: 1750px)
{
	.Me-social
	{
		height: 120px;
	}
}
@media (max-width: 800px)
{
	.Me-social
	{
		height: 20vw;
	}
}
.Me-social a
{
	border-bottom: none;
	position: relative;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	width: 18.5%;
}
.Me-social a:hover
{
	ms-transform: translateY(-5px);
	transform: translateY(-5px);
	webkit-transform: translateY(-5px);
}
.Me-social a svg
{
	position: absolute;
	width: 100%;
}
.Me-social a svg path
{
	stroke: #999;
	stroke-width: 3;
	transition: stroke 0.5s ease;
}
.Me-social a#link-linkedin svg path
{
	stroke-width: 8;
}
.Me-social a#link-twitter svg:nth-child(2) path
{
	stroke: #00aced;
}
.Me-social a#link-github svg:nth-child(2) path
{
	stroke: #be90d4;
}
.Me-social a#link-email svg:nth-child(2) path
{
	stroke: #2ecc71;
}
.Me-social a#link-linkedin svg:nth-child(2) path
{
	stroke: #0079bb;
}
.Me-mugshot
{
	align-self: flex-end;
	flex: 0 1 52%;
	min-width: 1px;
	ms-flex: 0 1 52%;
	ms-flex-item-align: end;
	position: relative;
	webkit-align-self: flex-end;
	webkit-flex: 0 1 52%;
}
.Me-mugshot img
{
	display: block;
	margin-left: -1em;
	max-width: 100%;
}
@media (max-width: 800px)
{
	.Me
	{
		margin-top: 55px;
	}
	.Me-blurb
	{
		flex: 0 1 100%;
		ms-flex: 0 1 100%;
		webkit-flex: 0 1 100%;
	}
	.Me-blurb h2
	{
		font-size: 10vw;
	}
	.Me-blurb h3
	{
		width: 100%;
	}
	.Me-blurb h4
	{
		font-size: 5vw;
		margin: 1em 0 1.5em 0;
	}
	.Me-mugshot
	{
		flex: 0 1 100%;
		height: 100px;
		margin-bottom: 60px;
		ms-flex: 0 1 100%;
		webkit-flex: 0 1 100%;
	}
	.Me-mugshot img
	{
		height: calc(15vw + 100px);
		left: 1em;
		ms-transform: rotate(180deg);
		position: absolute;
		top: 0;
		transform: rotate(180deg);
		webkit-transform: rotate(180deg);
	}
	.Me-social img
	{
		width: 65px;
	}
}
.jv-ColorChangingIcons
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 1em 0 2.5em -2%;
	ms-flex-flow: row wrap;
	ms-flex-pack: justify;
	webkit-flex-flow: row wrap;
	webkit-justify-content: space-between;
}
.jv-ColorChangingIcons svg
{
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-name: animation--color-changer;
	fill: #1abc9c;
	height: 10vw;
	margin: 0 3%;
	max-height: 100px;
	webkit-animation-duration: 20s;
	webkit-animation-iteration-count: infinite;
	webkit-animation-name: animation--color-changer;
	width: 6%;
}
.jv-ColorChangingIcons svg:nth-child(1)
{
	animation-delay: 0.2s;
	webkit-animation-delay: 0.2s;
}
.jv-ColorChangingIcons svg:nth-child(2)
{
	animation-delay: 0.4s;
	webkit-animation-delay: 0.4s;
}
.jv-ColorChangingIcons svg:nth-child(3)
{
	animation-delay: 0.6s;
	webkit-animation-delay: 0.6s;
}
.jv-ColorChangingIcons svg:nth-child(4)
{
	animation-delay: 0.8s;
	webkit-animation-delay: 0.8s;
}
.jv-ColorChangingIcons svg:nth-child(5)
{
	animation-delay: 1s;
	webkit-animation-delay: 1s;
}
.jv-ColorChangingIcons svg:nth-child(6)
{
	animation-delay: 1.2s;
	webkit-animation-delay: 1.2s;
}
.jv-ColorChangingIcons svg:nth-child(7)
{
	animation-delay: 1.4s;
	webkit-animation-delay: 1.4s;
}
.jv-ColorChangingIcons svg:nth-child(8)
{
	animation-delay: 1.6s;
	webkit-animation-delay: 1.6s;
}
.ContentBody .jv-FullPreview
{
	margin: 1em 0 -1em -2%;
}
.jv-VersionHistory
{
	font-size: 90%;
}
.TimelineItem-pics.-projects-prideify img,.TimelineItem-pics.-projects-le img
{
	border-radius: 100px;
}
.TimelineItem-pics.-projects-prideify img
{
	mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, #000 70%);
	webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, #000 70%);
}
.TimelineItem-pics.-projects-thumb-windowed img
{
	ms-transform: scale(1.3);
	transform: scale(1.3);
	webkit-transform: scale(1.3);
}
.prideify-Teaser
{
	border-radius: 100px;
	mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, #000 70%);
	webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, #000 70%);
}
.prideify-Dropzone
{
	background: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 8px;
	font-size: 1.4em;
	padding: 1em;
	text-align: center;
}
.prideify-Dropzone.is-hovered
{
	border-color: #4eb0eb;
}
.prideify-Dropzone.is-uploaded
{
	background: none;
	border: none;
}
.prideify-Dropzone img
{
	max-width: 100%;
}
.prideify-UrlEntry
{
	border: none;
	border-bottom: 1px dashed #ccc;
	display: inline-block;
	font-size: 23px;
	margin-top: 15px;
	outline: none;
	padding: 5px;
	text-align: center;
	transition: border-bottom .3s ease;
	width: 70%;
}
.prideify-UrlEntry:focus
{
	border-bottom: 1px dashed #4eb0eb;
}
.prideify-Peg
{
	margin-top: .5em;
}
.TableOfContents ul
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow: row wrap;
	ms-flex-flow: row wrap;
	padding: 5px 0;
	webkit-flex-flow: row wrap;
}
.TableOfContents ul li
{
	line-height: 210%;
	margin-left: 40px;
	text-indent: -5px;
}
.windowed,.windowed *
{
	box-sizing: content-box;
}
.windowed
{
	background: #f0f0f0;
	background: linear-gradient(to bottom, #f0f0f0 0%, #fff 100%);
	box-shadow: inset 0 1px 0 1px #aaa, 0 1px 0 1px #eee;
	display: inline-block;
	height: 35px;
	position: relative;
}
.windowed,.windowed .slider
{
	border-radius: 8px;
	padding: 2px;
}
.windowed .checkstate,.windowed li
{
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	text-shadow: 1px 1px #ddd;
}
.windowed input[type=checkbox],.windowed select
{
	display: none;
}
.windowed .slider
{
	border: 5px solid #fff;
	box-shadow: inset 0 1px 1px 1px #aaa, 0 0 0 2px #ccc;
	left: 0;
	position: absolute;
	top: 1px;
}
.windowed.disabled
{
	opacity: 0.5;
}
.windowed.disabled label,.windowed.disabled li
{
	cursor: default;
}
.windowed.checkbox
{
	width: 100px;
}
.windowed .checkstate
{
	float: left;
	padding-top: 1px;
	text-align: center;
}
.windowed label
{
	cursor: pointer;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 999;
}
.windowed li
{
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0;
	padding: 1px 15px;
}
.windowed.select-one
{
	padding-bottom: 1px;
}
.windowed.select-one .slider
{
	padding-left: 0;
	padding-right: 0;
}
.windowed ul
{
	border-radius: inherit;
	margin: 0;
	padding: 0;
}
.windowed ul>li:first-of-type
{
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}
.windowed ul>li:last-of-type
{
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}
.windowed.vertical
{
	height: auto;
}
.windowed.vertical li
{
	background: none;
	float: none;
	text-align: left;
	white-space: nowrap;
}
.windowed.warning .slider
{
	border-color: #ff9a1c;
	box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #ff8400;
}
.windowed.danger .slider
{
	border-color: #ff3b10;
	box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #ee5f5b;
}
.windowed.success .slider
{
	border-color: #7ec43a;
	box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #68a52e;
}
.windowed.info .slider
{
	border-color: #3a8cf4;
	box-shadow: 0 1px 1px 1px #aaaaaa inset, 0 0 0 1px #4bb1cf;
}
.windowed.custom
{
	background: #333333;
}
.windowed.custom .slider
{
	border-color: #6c3;
	box-shadow: 0 1px 1px 1px #363 inset, 0 0 0 2px #363;
}
.windowed.custom .checkstate,.windowed.custom li
{
	color: #ddd;
	text-shadow: 1px 1px #000;
}
.windowed.custom .selected
{
	color: #bfa;
}
.tinted .windowed .slider
{
	background: rgba(0,0,0,0.1);
}
