<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/code.css">
			<link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ronald.reichmuth@xx.ch">email</a></li>
				<li><a href="https://roni8840.github.io/download/318CCD77.asc">pgp key</a></li>
				<li><a href="https://roni8840.github.io/blog/atom.xml">rss</a></li>
	        		<li><a href="https://roni8840.github.io">roni8840.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
