<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:emaily@icloud.com">email</a></li>
				<li><a href="mailto:emaily@icloud.com">PGP Key</a></li>
				<li><a href="mailto:emaily@icloud.com">2073 51AF 6CD9 6EBA BDAC  CED6 C38F BE0B 318C CD77</a></li>
	        		<li><a href="https://roni8840.github.io">roni8840.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
